<nav class="side-navbar">
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="/static/img/timg.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h4">您好,{{ request.session.namech }}</h1>
        </div>
    </div>
    <hr>
    <!-- Sidebar Navidation Menus-->
    <ul class="list-unstyled">
        <li class="active"> <a href="/tables/"><i class="icon-home"></i>主页</a></li>
        <li> <a href="#"> <i class="fa fa-file"></i>成果录入 </a></li>
        <li><a href="#apps" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-user"></i>个人中心</a>
            <ul id="apps" class="collapse list-unstyled">
                <li><a href="/basic-form/">完善信息</a></li> 
                <li><a href="#">修改密码</a></li> 
                <li><a href="#">暂未开通</a></li> 
            </ul>
        </li>
        
        <li><a href="#forms" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-building-o"></i>图表</a>
            <ul id="forms" class="collapse list-unstyled">
                <li><a href="#">暂未开通</a></li> 
                <li><a href="#">暂未开通</a></li> 
            </ul>
        </li>
        <li> <a href="#"> <i class="fa fa-map-o"></i>暂未开通</a></li>
        <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-file-o"></i>文章</a>
            <ul id="pages" class="collapse list-unstyled">
                <li><a href="#">暂未开通</a></li> 
                <li><a href="#">暂未开通</a></li> 
                <li><a href="#">暂未开通</a></li> 
                <li><a href="#">暂未开通</a></li> 
                <li><a href="#">暂未开通</a></li> 
                <li><a href="#">暂未开通</a></li> 
                <li><a href="#">暂未开通</a></li> 
            </ul>
        </li>
        <li > <a href="#"> <i class="icon-grid"></i>暂未开通 </a></li> 
    </ul><span class="heading">Extras</span>
</nav>