<!-- 用于注册的界面 -->

<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>成果管理系统</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    
    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/font-icon-style.css">
    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/static/css/pages/login.css">
</head>

<body> 

<!--====================================================
                        PAGE CONTENT
======================================================--> 
      <section class="hero-area">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
			<div class="col-sm-2 col-lg-2 col-md-2"></div>
            <div class="col-sm-6 col-md-8 col-lg-7">
							<div class="contact-h-cont">
                <!-- <div style="background: #FFFFFF; padding: 10px; border-radius: 5px;"> -->
									<h3 class="text-center"><img src="/static/img/logo.png" class="img-fluid" alt=""></h3><br>
									<form method='post' id='sub_form' role="form"  class="form-horizontal"  onsubmit="return checkall()">
									{% csrf_token %}
										<div class="alert alert-warning message_hidden"  id="message"></div>
											<!-- 这里填写邮箱 -->
											<div class="form-group row"> 
												<div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2 text-center img-form">
													<li class="fa fa-envelope"></li>
												</div>
												<div class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10 input-form" >
													<input type="text" name='umail' class="form-control" id="umail" placeholder="请输入邮箱">
													<ul id="show_mail" class="list"></ul>
												</div>
											</div>
											<!-- 这里填写密码 -->
											<div class="form-group row">
													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2 text-center img-form">
															<li class="fa fa-lock"></li>
													</div>
													<div class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10 input-form" >
														<input class="form-control" type="password" name='password' id="upassword" placeholder="请输入密码">
													</div>
											</div>
											<!-- 这里重复密码 -->
											<div class="form-group row">
													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2 text-center img-form">
															<li class="fa fa-repeat"></li>
													</div>
													<div class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10 input-form" >
														<input class="form-control" name='enpassword' type="password" id="enupassword" placeholder="确认密码">
													</div>
											</div>
											<!-- 这里输入姓名 -->
											<div class="form-group row">
													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2 text-center img-form">
															<li class="fa fa-font"></li>
													</div>
													<div class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10 input-form row" >
														<!-- 姓氏 -->
														<div class="col-md-5 col-5 input-form">
															<input type="text" name='ufname' class="form-control" id="ufname" placeholder="您的姓氏">
														</div>
														<!-- 名字 -->
														<div class="col-md-7 col-7" style="margin-right:0px; padding-right:0px;">
															<input type="text" name='ulname' class="form-control" id="ulname" placeholder="您的名字（不包括姓氏）">
														</div>
													</div>
											</div>
											<!-- 这里输入手机号 -->
											<div class="form-group row">
													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2 text-center img-form">
															<li class="fa fa-mobile-phone"></li>
													</div>
													<div class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10 input-form row" >
														<!-- 手机号 -->
														<div class="col-md-5 col-5 input-form">
															<input onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" type="number" name='uphone' class="form-control" id="uphone" placeholder="请输入手机号">
														</div>
														<!-- 验证码 -->
														<div class="col-md-4 col-4" style="margin-right:0px; padding-right:0px;">
															<input type="text" name='checknum' class="form-control" id="checknum" placeholder="验证码">
														</div>
														<button class="btn btn-2 btn-blue">获取</button>
													</div>
											</div>

											<div class="form-check">
												<label class=" mb-2 mr-sm-2 mb-sm-0">
														<span class="custom-control-description">已有账户？<a href="/login/">返回登录</a></span>
												</label>
											</div>
											<div style="line-height: 5px; margin: 0px;">
												&nbsp;
											</div>
											<button class="btn col-md-12 btn-blue" id="sub" role="button"  type="submit" >
												<i fa fa-right-arrow></i>提交
											</button>
										</div>
										</div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!--Global Javascript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/pinyin_dict_notone.js" charset="utf-8"></script>
	<!-- <script src='/static/js/regist.js'></script> -->
	<script src="/static/js/mail.js"></script>
	<!-- <script></script> -->
		<script>
			var suc = new Array
			for(j=0;j<7;j++)
				suc[j]=false
			var c_password= /^([a-zA-Z0-9]|[_]){6,20}$/ //密码是6-20位，不能有除_以外的特殊字符
			var c_umail = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/ //邮箱格式。
			var c_uphone = /^((13[0-9])|(14[5,7])|(15[0-3,5-9])|(17[0,3,5-8])|(18[0-9])|166|198|199|(147))\d{8}$/ //最新的手机格式
			var c_ufnamech=/^[赵|钱|孙|李|周|吴|郑|王|冯|陈|楮|卫|蒋|沈|韩|杨|朱|秦|尤|许|何|吕|施|张|孔|曹|严|华|金|魏|陶|姜|戚|谢|邹|喻|柏|水|窦|章|云|苏|潘|葛|奚|范|彭|郎|鲁|韦|昌|马|苗|凤|花|方|俞|任|袁|柳|酆|鲍|史|唐|费|廉|岑|薛|雷|贺|倪|汤|滕|殷|罗|毕|郝|邬|安|常|乐|于|时|傅|皮|卞|齐|康|伍|余|元|卜|顾|孟|平|黄|和|穆|萧|尹|姚|邵|湛|汪|祁|毛|禹|狄|米|贝|明|臧|计|伏|成|戴|谈|宋|茅|庞|熊|纪|舒|屈|项|祝|董|梁|杜|阮|蓝|闽|席|季|麻|强|贾|路|娄|危|江|童|颜|郭|梅|盛|林|刁|锺|徐|丘|骆|高|夏|蔡|田|樊|胡|凌|霍|虞|万|支|柯|昝|管|卢|莫|经|房|裘|缪|干|解|应|宗|丁|宣|贲|邓|郁|单|杭|洪|包|诸|左|石|崔|吉|钮|龚|程|嵇|邢|滑|裴|陆|荣|翁|荀|羊|於|惠|甄|麹|家|封|芮|羿|储|靳|汲|邴|糜|松|井|段|富|巫|乌|焦|巴|弓|牧|隗|山|谷|车|侯|宓|蓬|全|郗|班|仰|秋|仲|伊|宫|宁|仇|栾|暴|甘|斜|厉|戎|祖|武|符|刘|景|詹|束|龙|叶|幸|司|韶|郜|黎|蓟|薄|印|宿|白|怀|蒲|邰|从|鄂|索|咸|籍|赖|卓|蔺|屠|蒙|池|乔|阴|郁|胥|能|苍|双|闻|莘|党|翟|谭|贡|劳|逄|姬|申|扶|堵|冉|宰|郦|雍|郤|璩|桑|桂|濮|牛|寿|通|边|扈|燕|冀|郏|浦|尚|农|温|别|庄|晏|柴|瞿|阎|充|慕|连|茹|习|宦|艾|鱼|容|向|古|易|慎|戈|廖|庾|终|暨|居|衡|步|都|耿|满|弘|匡|国|文|寇|广|禄|阙|东|欧|殳|沃|利|蔚|越|夔|隆|师|巩|厍|聂|晁|勾|敖|融|冷|訾|辛|阚|那|简|饶|空|曾|毋|沙|乜|养|鞠|须|丰|巢|关|蒯|相|查|后|荆|红|游|竺|权|逑|盖|益|桓|公|仉|督|晋|楚|阎|法|汝|鄢|涂|钦|归|海|岳|帅|缑|亢|况|后|有|琴|商|牟|佘|佴|伯|赏|墨|哈|谯|笪|年|爱|阳|佟|言|福]$/
			var c_ufnamech1=/^[欧阳|太史|端木|上官|司马|东方|独孤|南宫|万俟|闻人|夏侯|诸葛|尉迟|公羊|赫连|澹台|皇甫|宗政|濮阳|公冶|太叔|申屠|公孙|慕容|仲孙|钟离|长孙|宇文|司徒|鲜于|司空|闾丘|子车|亓官|司寇|巫马|公西|颛孙|壤驷|公良|漆雕|乐正|宰父|谷梁|拓跋|夹谷|轩辕|令狐|段干|百里|呼延|东郭|南门|羊舌|微生|公户|公玉|公仪|梁丘|公仲|公上|公门|公山|公坚|左丘|公伯|西门|公祖|第五|公乘|贯丘|公皙|南荣|东里|东宫|仲长|子书|子桑|即墨|达奚|褚师].$/
			//以上两个是单姓和复姓。
			var c_ulnamech=/^[\u4e00-\u9fa5]+$/ //汉字正则
			var c_ulfnameen=/^[a-zA-Z]+$/ //英语正则
			
			//-----------------------------邮箱格式-------------------------------
			function deal_mail(umail){
				if(!c_umail.exec(umail))
				{
					show_warning('邮箱格式不正确 / Illegal email')
					suc[0]=false//若邮箱不符合正则，为假
				}
				else
				{
					$.ajax({
						type : 'POST',
						url : "/check/",
						dataType : 'json',
						data:{
							'deal_type': $('#umail').attr('id'),
							'deal_name': umail
						},
						success: function(ret){
							show_warning(ret.message)
							if(ret.message=='')
								suc[0]=true//若数据库没有为真
							else
								suc[0]=false//若数据库有为假
						}
					});
				}
			}
			$('#umail').bind("input propertychange",function(){
				umail = $(this).val()
				deal_mail(umail)//input内容改变触发
			});
			$('#show_mail').click(function(){
				umail = $('#umail').val()
				deal_mail(umail)//点击下拉列表触发
			});
			//-----------------------------邮箱格式-------------------------------
			
			//-----------------------------以下为密码验证-------------------------------
			$('#upassword').bind("input propertychange",function(){
				pwd = $(this).val()
				enpwd = $('#enupassword').val()
				if(enpwd=='')
				{	
					if(!c_password.exec(pwd))
					{
						show_warning('密码长度为6位，只包含字母、数字及_ / Illegal password')
						suc[1]=false
					}	
					else
					{
						show_warning('')
						suc[1]=true
					}
				}
				if(enpwd != '')
				{
					if(!c_password.exec(pwd))
					{
						show_warning('密码长度为6位，只包含字母、数字及_ / Illegal password')
						suc[1]=false
					}	
					else
					{
						suc[1]=true
						if(enpwd==pwd)
						{
							show_warning('')
							suc[2]=true
						}
						else
						{
							show_warning('两次密码不一致 / Different password')
							suc[2]=false
						}
					}
				}
			});
			$('#enupassword').bind("input propertychange",function(){
				pwd = $('#upassword').val()
				enpwd = $('#enupassword').val()
				if(enpwd=='')
				{	
					if(!c_password.exec(pwd))
					{
						show_warning('密码长度为6位，只包含字母、数字及_ / Illegal password')
						suc[1]=false
					}	
					else
					{
						show_warning('')
						suc[1]=true
					}
				}
				if(enpwd != '')
				{
					if(!c_password.exec(pwd))
					{
						show_warning('密码长度为6位，只包含字母、数字及_ / Illegal password')
						suc[1]=false
					}	
					else
					{
						suc[1]=true
						if(enpwd==pwd)
						{
							show_warning('')
							suc[2]=true
						}
						else
						{
							show_warning('两次密码不一致 / Different password')
							suc[2]=false
						}
					}
				}
			});
			//-----------------------------以上为密码验证-------------------------------
			
			
			//-----------------------------姓格式-------------------------------
			function tonameen(nameen){//该函数用来规范英文名格式，将第一个字母大写后边小写
				first = nameen.substring(0, 1).toUpperCase()
				final = nameen.substring(1, nameen.length).toLowerCase()
				nameen = first+final
				return nameen
			}
			$('#ufname').bind("input propertychange",function(){
				ufname = $(this).val()//姓氏判别
				if(c_ulnamech.exec(ufname))//判断是中文名
				{
					if (ufname.length<2)
					{
						if(!c_ufnamech.exec(ufname))
						{
							show_warning('请输入正确的姓氏')
							suc[3]=false
						}
						else
						{
							show_warning('')
							suc[3]=true
						}
					}
					else
					{
						if(!c_ufnamech1.exec(ufname))
						{
							show_warning('请输入正确的姓氏')
							suc[3]=false
						}
					else
					{
						show_warning('')
						suc[3]=true
					}
					}
				}
				else{
					ufname = tonameen(ufname)//若是英文格式则转换成首字母大写
					if(c_ulfnameen.exec(ufname))
					{
						show_warning('')
						suc[3]=true
					}
					else
					{
						show_warning('Illegal English first name')
						suc[3]=false
					}
				}
				
			});
			
			//-----------------------------姓格式-------------------------------
			//-----------------------------名格式-------------------------------
			$('#ulname').bind("input propertychange",function(){
				ulname = $(this).val()//接收名
				ufname = $('#ufname').val()//接收姓
				if((c_ulnamech.exec(ufname)&&c_ulnamech.exec(ulname))||(c_ulfnameen.exec(ufname)&&c_ulfnameen.exec(ulname)))
				{
					if(c_ulnamech.exec(ulname))
					{
						show_warning('')
						suc[4]=true
					}
					else
					{
						ulname = tonameen(ulname)//若是英文格式，则转化成首字母大写
						if(!c_ulfnameen.exec(ulname))
						{
							show_warning('错误的名字/Illegal English last name')
							suc[4]=false
						}
						else{
							show_warning('')
							suc[4]=true
						}
					}
				}
				else
				{
					show_warning('姓名组合非法/Illegal name')
					suc[4]=false
				}
			});
			//-----------------------------名格式-------------------------------
			
			//-----------------------------手机格式-------------------------------
			$('#uphone').bind("input propertychange",function(){
				uphone = $(this).val()
				if(!c_uphone.exec(uphone))
				{
					show_warning('手机格式不正确/Illegal cell phone number')
					suc[5]=false
				}
				else
				{
					$.ajax({
						type : 'POST',
						url : "/check/",
						dataType : 'json',
						data:{
							'deal_type': $('#uphone').attr('id'),
							'deal_name': uphone
						},
						success: function(ret){
							show_warning(ret.message)
							if(ret.message=='')
								suc[5]=true//若数据库没有为真
							else
								suc[5]=false//若数据库有为假
						}
					});
				}
			});
			//-----------------------------手机格式-------------------------------
			
			//-----------------------------验证码-------------------------------
			$('#checknum').bind("input propertychange",function(){
				check = $(this).val()
				if(check.length!=4)
				{
					suc[6]=false
					show_warning('请输入验证码/Please input verification code')
				}
				else{
					suc[6]=true
					show_warning('')
				}
			});
			//-----------------------------验证码-------------------------------
			//-----------------------------检测名字-------------------------------
			function checkname(){
				var uf = $('#ufname').val().split('')
				var ul = $('#ulname').val().split('')
				var en =['','']
				ufl = new Array(uf.length)
				ull = new Array(ul.length)
				for(i=0;i<uf.length;i++)
				{
					for(var key in pinyin_dict_notone)
					{
						if(pinyin_dict_notone[key].search(uf[i])!=-1)
						{
							ufl[i]=key
							break
						}
					}
				}
				for(i=0;i<ul.length;i++)
				{
					for(var key in pinyin_dict_notone)
					{
						if(pinyin_dict_notone[key].search(ul[i])!=-1)
						{
							ull[i]=key
							break
						}
					}
				}
				for(i=0;i<ufl.length;i++)
					en[0]=en[0]+ufl[i]
				for(i=0;i<ull.length;i++)
					en[1]=en[1]+ull[i]
				return en
			}
			//-----------------------------检测名字-------------------------------
			//-----------------------------提交检测-------------------------------
			function checkall(){
				for(i=0;i<7;i++)
				{
					if(suc[i]==false)
					{
						if(i==0) 
						{
							show_warning('邮箱格式不正确 / Illegal email')
							$('#umail').focus()
							return false
						}
						if(i==1) 
						{
							show_warning('密码格式有误 / Illegal password')
							$('#upassword').focus()
							return false
						}
						if(i==2) 
						{
							show_warning('两次密码不一致 / Different password')
							$('#enupassword').focus()
							return false
						}
						if(i==3)
						{
							show_warning('姓氏有误 / Illegal firstname')
							$('#ufname').focus()
							return false
						}
						if(i==4)
						{
							show_warning('名字有误 / Illegal lastname')
							$('#ulname').focus()
							return false
						}
						if(i==5)
						{
							show_warning('手机号有误 / Illegal cell phone number ')
							$('#uphone').focus()
							return false
						}
						if(i==6)
						{
							show_warning('请输入验证码 / Please input verification code')
							$('#checknum').focus()
							return false
						}
					}
				}
				if(i==7)
				{
					if(c_ulnamech.exec($('#ufname').val())&&c_ulnamech.exec($('#ulname').val()))
					{
						chname = [$('#ufname').val(),$('#ulname').val()]
						enname = checkname()//接受姓、名的数组
					}
					if(c_ulfnameen.exec($('#ufname').val())&&c_ulfnameen.exec($('#ulname').val()))
					{
						enname = [$('#ufname').val(),$('#ulname').val()]
						chname = ['','']
					}
					$.ajax({
							type : 'POST',
							url : "/regist/",
							dataType : 'json',
							data:{
								'username':$('#umail').val(),
								'upassword':$('#upassword').val(),
								'ufnamech':chname[0],
								'ulnamech':chname[1],
								'ufnameen':tonameen(enname[0]),
								'ulnameen':tonameen(enname[1]),
								'umail':$('#umail').val(),
								'uphone':$('#uphone').val(),
							},
							success: function(ret){
								show_warning(ret.message)
								if(ret.message=='badmess')
									show_warning(ret.succ)
								else
									window.location.href="/login/"
							}
					});
					return false
				}
			}
			//-----------------------------提交检测-------------------------------
			
			function show_warning(deal){
				$action = $('#message')
				if(deal != '')
				{
					$action.removeClass('message_hidden')
					$action.html(deal)
				}
				else
				$action.addClass('message_hidden')
			}
		</script>
</body>

</html>