

<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>成果管理系统</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    
    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/font-icon-style.css">
    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">
	<link rel="stylesheet" href="/static/css/table.css" >
    <!-- Core stylesheets -->
    
</head>

{% if request.session.is_login %}
<body> 
{%csrf_token%}
<!--====================================================
                         MAIN NAVBAR
======================================================--> 
    <!-- 按钮：用于打开模态框 -->

<div class="modal fade" style='top:100px;' id="myModal" aria-hidden=”true” data-backdrop=”static”> 
    <div class="modal-dialog">
        <div class="modal-content">
    
        <!-- 模态框头部 -->
        <div class="modal-header">
            <h4 class="modal-title">系统提示</h4>
        </div>
    
        <!-- 模态框主体 -->
        <div class="modal-body">
            您还没有完善信息，请您移步完善信息，否则系统不可用。
        </div>
    
        <!-- 模态框底部 -->
        <div class="modal-footer">
            <a class='btn btn-primary' href="/basic-form/">完善信息</a>
            <div style="width:25px"></div>
            <a class='btn btn-primary' href="/logout/">注销</a>
        </div>
        </div>
    </div>
</div>
    {% if not request.session.uall %}
        {% include 'login/base-uall.html' %}
    {% else %}
        {% include 'login/base.html' %}
    {% endif %}
<!--====================================================
                        PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        {% if not request.session.uall %}
        {% include 'login/base1-uall.html' %}
        {% else %}
        {% include 'login/base1.html' %}
        {% endif %}
{% endif %}
        <div class="content-inner chart-cont">
			
            <!--***** CONTENT *****-->  
			
            <div class="row">
				<div class="col-12 dropdown bg_bar" >
					<button type="button" class="btn bu_bar dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
						筛选
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu ul_bar" role="menu" aria-labelledby="dropdownMenu1" >
						<li >
							<a  tabindex="-1" href="#" >期刊</a>
						</li>
						<li >
							<a  tabindex="-1" href="#">会议</a>
						</li>
						<li >
							<a  tabindex="-1" href="#">专著</a>
						</li>
					</ul>
                    <a href="{% url 'polls:add_step1' %}" class="btn bu_bar">添加成果</a>
                    <button class="btn bu_bar" id='dorefresh'><i class="fa fa-refresh"></i>刷新</button>
					<button class="btn bu_bar" id="btnExport">导出</button>
				</div>
                <table id="tables" class="table table-hover"  >
                  <thead>
                    <tr class="bg-info text-white">
                	  <th style="width: 5%;" class="noExl text-left" ><input type="checkbox" id="all"  ></th>
                      <th class="text-center">文章</th>
                      <th style="width: 30%;" class="text-center">期刊/会议</th>
                	  <th style="width: 20%;" class="text-center">作者</th>
                    </tr>
                  </thead>
				  
                  <tbody id="add_here">
				  	
                  </tbody>
                  <script src="/static/js/jquery.min.js"></script>
                    <script>
						$('#leftmenu').children().eq(0).css('background-color','rgb(211, 229, 236)')
                        $(document).ready(function(){
                            $('#dorefresh').click(function(){
                                location.reload()
                            }); 
                        });
                        $.ajax({
                            type : "get",
                            url : "/test/",
                            async: false,//异步加载，加载到TABLE时就可以取出数据了
                            dataType: 'json',
                            success: function(ret){
                                for(i in ret.test){
                                    htm1 = "<tr name='output' class='noExl'>"+
                                    "<th class='noExl'><input name='yes' type='checkbox' value='1111111'><input type='hidden' id='show1'></th>"+
                                    "<td>"+ret.test[i].pages+"</td>"+
                                    "<td class='text-center'>"+ret.test[i].pubs+"</td>"+
                                    "<th scope='row' class='text-center'>"+ret.test[i].account+"</th>"
                                    $('#add_here').append(htm1)
                                }
                            }
                        });
                    </script>
                </table>
				<input type="hidden" id="po-page" value="1" />
				<div style="position: relative; margin: 0 auto;">
					<ul id="page-ul" class="pagination ul_page">
					</ul>
				</div>
            </div> 
				
        </div>
    </div> 

    <!--Global Javascript -->
    <script src="/static/js/popper/popper.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script> 
    <script src="/static/js/chart.min.js"></script> 
    <script src="/static/js/front.js"></script> 
    <script src="/static/js/jquery.table2excel.js"></script>
	{% if not request.session.uall %}
	<script>$('#myModal').modal({backdrop: 'static', keyboard: false}); </script>
	{% endif %}
	<script>
		var $subs = $("input[name='yes']");//  checkbox的数组
		var $tr = $("tr[name='output']");// 获取tr的数组
		var $tail = Math.ceil($tr.length/12);
		
		if($tail>0){
			$("#page-ul").append('<li class="page-item"><a id="page-first" class="page-link" href="#">|&laquo;</a></li>')
			$("#page-ul").append('<li class="page-item"><a id="page-pre" class="page-link" href="#">&laquo;</a></li>')
			$('#page-ul').append('<li class="page-item active"><a id="page-1" class="page-link" href="#"  onclick="deal_page(this.id)">1</a></li>')
			for(i=1;i<$tail;i++)
			{
				$("#page-ul").append('<li class="page-item"><a id="page-'+(i+1)+'" class="page-link" href="#"  onclick="deal_page(this.id)">'+(i+1)+'</a></li>')
			}
			$("#page-ul").append('<li class="page-item"><a id="page-next" class="page-link" href="#">&raquo;</a></li>')
			$("#page-ul").append('<li class="page-item"><a id="page-tail" class="page-link" href="#">&raquo;|</a></li>')
			}
		
		var $pages = $("#page-ul").children();
		var $nowpage = $('#po-page'); 
		var $long = $pages.length;
		
		$("#page-first").on('click',function(){
			$nowpage.val('1');
			$pages.removeClass('active')
			$('#page-1').parent().addClass('active')
			for(i=2;i<$pages.length-2;i++)
				$pages.eq(i).css('display','none')
			$pages.eq(2).css('display','')
			$pages.eq(3).css('display','')
			$pages.eq(4).css('display','')
			for(i=0;i<12;i++)
				$tr.eq(i).css('display','');
			for(i=12;i<$tr.length;i++)
				$tr.eq(i).css('display','none');
		});
		$('#page-pre').on('click',function(){
			if($nowpage.val()!='1'){
				var page = parseInt($nowpage.val())-1;
				$nowpage.val(page);
				$pages.removeClass('active')
				$('#page-'+page+'').parent().addClass('active')
				if($long>7){
					for(i=2;i<$pages.length-2;i++)
						$pages.eq(i).css('display','none')
					if(page-2==-1)
					{
						$pages.eq(page+1).css('display','')
						$pages.eq(page+2).css('display','')
						$pages.eq(page+3).css('display','')
					}
					else
					{
						$pages.eq(page).css('display','')
						$pages.eq(page+1).css('display','')
						$pages.eq(page+2).css('display','')
					} 
				}
				for(i=0;i<(page-1)*12;i++)
					$tr.eq(i).css('display','none');
				for(i=(page-1)*12;i<(page)*12;i++)
					$tr.eq(i).css('display','');
				for(i=page*12;i<$tr.length;i++)
					$tr.eq(i).css('display','none');
			}
		});
		$('#page-next').on('click',function(){
			if($nowpage.val()!=($tail+'')){
				var page = parseInt($nowpage.val())+1;
				$nowpage.val(page);
				$pages.removeClass('active')
				$('#page-'+page+'').parent().addClass('active')
				if($long>7){
					for(i=2;i<$pages.length-2;i++)
						$pages.eq(i).css('display','none')
					if(page+4==$pages.length)
					{
						$pages.eq(page-1).css('display','')
						$pages.eq(page).css('display','')
						$pages.eq(page+1).css('display','')
					}
					else
					{
						$pages.eq(page).css('display','')
						$pages.eq(page+1).css('display','')
						$pages.eq(page+2).css('display','')
					}
				}
				for(i=0;i<(page-1)*12;i++)
					$tr.eq(i).css('display','none');
				for(i=(page-1)*12;i<(page)*12;i++)
					$tr.eq(i).css('display','');
				for(i=page*12;i<$tr.length;i++)
					$tr.eq(i).css('display','none');
			}
		});
		$("#page-tail").on('click',function(){
			$nowpage.val($tail);
			$pages.removeClass('active')
			$('#page-'+$tail+'').parent().addClass('active')
			if($pages.length>7){
				for(i=2;i<$pages.length-2;i++)
					$pages.eq(i).css('display','none')
				$pages.eq($long-5).css('display','')
				$pages.eq($long-4).css('display','')
				$pages.eq($long-3).css('display','')
			}
			for(i=0;i<($tail-1)*12;i++)
				$tr.eq(i).css('display','none');
			for(i=($tail-1)*12;i<$tr.length;i++)
				$tr.eq(i).css('display','');
		});
		var $django = $('#add_here').children()
        
		$(document).ready(function(){ 
			for(i=1;i<$django.length+1;i++)
			{
				if(i%4 == 0)
				$django.eq(i-1).addClass('table-info')
				else if(i%2 == 0)
				$django.eq(i-1).addClass('table-success')
			}
			$nowpage.val('1')
			for(i=2;i<$pages.length-2;i++)
				$pages.eq(i).css('display','none')
			$pages.eq(2).css('display','')
			$pages.eq(3).css('display','')
			$pages.eq(4).css('display','')
			for(i=0;i<12;i++)
				$tr.eq(i).css('display','');
			for(i=12;i<$tr.length;i++)
				$tr.eq(i).css('display','none');
		　　$tr.removeClass('noExl');
		}); //暂时用JQ来实现去掉 CLASS='noExl' 类以防以后需要
		
        
		function deal_page(deal_id){
			var to_page = parseInt(deal_id.substr(5,7));
			$nowpage.val(to_page);
			$pages.removeClass('active')
			$('#page-'+to_page+'').parent().addClass('active')
			if($pages.length>7){
				for(i=2;i<$pages.length-2;i++)
					$pages.eq(i).css('display','none')
				if(to_page+4 == $pages.length)
				{
					$pages.eq(to_page-1).css('display','')
					$pages.eq(to_page).css('display','')
					$pages.eq(to_page+1).css('display','')
				}
				else if(to_page-1 == 0)
				{
					$pages.eq(to_page+1).css('display','')
					$pages.eq(to_page+2).css('display','')
					$pages.eq(to_page+3).css('display','')
				}
				else{
					$pages.eq(to_page).css('display','')
					$pages.eq(to_page+1).css('display','')
					$pages.eq(to_page+2).css('display','')
				}
			}
			for(i=0;i<(to_page-1)*12;i++)
				$tr.eq(i).css('display','none');
			for(i=(to_page-1)*12;i<(to_page)*12;i++)
				$tr.eq(i).css('display','');
			for(i=to_page*12;i<$tr.length;i++)
				$tr.eq(i).css('display','none');
		}
		
		
		
		
		
		$("#all").on('click',function() {  //用po-page的值作为判断选中的标准
			 $("input[name='yes']").prop("checked", this.checked);
			 /* if(this.checked)
				$("tr[name='output']").removeClass("noExl")
			 else
				$("tr[name='output']").addClass("noExl") 
			-------这段代码的含义是点击全选复选框后，把使所有的<TR>变为可导出的状态-------
				*/
		});
		
		$("input[name='yes']").on('click',function() {  
			  
				  /* alert($subs.eq(1).) */
			  /* for(i=0;i<$subs.length;i++){
				  if($subs.eq(i).prop('checked'))
					$tr.eq(i).removeClass('noExl')
				  else
				    $tr.eq(i).addClass('noExl')
			  } 
			  -------这段代码的含义是点击每个复选框，改变每个小复选框对应的<TR>的状态-------
			  */
			  $("#all").prop("checked" , $subs.length == $subs.filter(":checked").length ? true :false);  
		});
		
		$(document).ready(function () {
		    $("#btnExport").click(function () {
				/* var i = 0;
				for(var j=0;j<$subs.length;j++)
					if($subs.eq(i).prop('checked'))
					  i++;
				if(i!=0)
				{ */
					$("#tables").table2excel({
						exclude  : ".noExl", //过滤位置的 css 类名
						filename : "导出成果" + new Date().getTime() + ".xls", //文件名称
						name: "Excel Document Name.xlsx",
						exclude_img: true,
						exclude_links: true,
						exclude_inputs: true
					});
				/* }
				else{
					alert('请选中要导出的结果')
				} */
		    });
		});
		
	</script>
    <!--Core Javascript -->
    <script>
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               } 
            }
        });
    </script> 
</body>

</html>