.bg_bar {
    background: #17a2b8;
    padding-bottom: 1px;
    padding-top: 1px;
}

.bu_bar {
    background: #17a2b8;
    width: 23%;
    color: #FFFFFF;
    outline: none;
}

.ul_bar {
    width: 23%;
    margin-left: -2px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

.ul_bar li {
    background: #17a2b8;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin: 0px;
}

.ul_bar li a {
    color: #FFFFFF;
    width: 100%;
}

.ul_bar li a:hover {
    color: #DDDDDD;
    background: #00ACB4;
    width: 100%;
}

.ul_page {
    list-style: none;
}

.ul_page li a {
    color: #17a2b8;
}