{% load static %}
<!-- 用于论文的信息录入 -->
<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>成果管理系统 </title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'polls/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/font-icon-style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.default.css' %}" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="{% static 'polls/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/apps/add-author.css' %}">

</head>

<body>

<!--====================================================
                     MAIN NAVBAR
======================================================-->
{% if not request.session.uall %}
{% include 'login/base-uall.html' %}
{% else %}
{% include 'login/base.html' %}
{% endif %}
<!--====================================================
                    PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        {% if not request.session.uall %}
        {% include 'login/base1-uall.html' %}
        {% else %}
        {% include 'login/base1.html' %}
        {% endif %}
        <div class="content-inner form-cont">
            <div class="row">
                <div class="col-md-12">

                    <!--***** FORM INPUTS *****-->
                    {% verbatim %}
                    <div class="card form" id="form2">
                        <div class="card-header">
                            <h3 class="offset-md-2">录入作者</h3>
                        </div>
                        <!-- <br> -->

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-8 offset-md-2">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input class="form-control"
                                            type="text"
                                            id="example-text-input"
                                            v-model="keyword"
                                            @blur="showList=false"
                                            @keydown.up="lastItem()"
                                            @keydown.down="nextItem()"
                                            @keydown.enter="addAuthor()"
                                            @click="showOptionList()">
                                        <div class="search-friend" v-show="showList && optionList.length">
                                            <ul>
                                                <li v-for="(opt, i) in optionList"
                                                    v-bind:class='"opt-item" + " " + (opt.select ? "opt-item-select" : "")'
                                                    @mouseover="selectItem(i)"
                                                    @mousedown="keyword = getName(i)" style="height: auto">

                                                    <div>{{ opt.en ? opt.val.anameen :opt.val.anamech }}<span style="color: gray">({{ opt.val.amail }})</span></div>
                                                    <div v-show="opt.val.cnamech1" style="color: gray; height: 15px; line-height: 15px; font-size: 50%">{{ opt.en ? opt.val.cnameeg1 :opt.val.cnamech1 }}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" @click="addAuthor()">添加</button>
                                    <a class="btn btn-outline-primary" style="margin-left: 10px" href="new-author2">新建</a>
                                </div>

                            </div>
                        </div>
                        <form @submit.prevent="onSave()">
                            <div class="row" style="margin-top: 60px;">
                                <div class="col-md-10 offset-md-2">
                                    <div class="row form-group" v-for="(author, i) in authors">
                                        <label for="author" style="width: 60px;  " class=" col-form-label">作者 {{ i + 1 }}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" type="url" placeholder="姓名" id="author" v-model="author.anamech" readonly>
                                        </div>
                                        <div class="col-md-2">
                                                <input class="form-control" type="url" placeholder="English Name" id="author" v-model="author.anameen" readonly>
                                            </div>
                                        <div class="col-md-2">
                                            <input class="form-control" type="url" placeholder="单位" id="author" v-model="author.cnamech1" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" type="url" placeholder="单位" id="author" v-model="author.cnamech2" readonly>
                                        </div>
                                        <div class="d-none d-md-block">
                                            <button type="button" class="btn btn-outline-primary" @click="delAuthor(author.amail)">删除</button>
                                        </div>
                                        <div class="form-check" style="padding-top: .375rem; padding-bottom: .375rem; margin-left: 10px">
                                            <label class="form-check-label" style="height: 100%;">
                                                <input class="form-check-input" type="checkbox" v-model="author.isComm"> 通信作者
                                            </label>
                                        </div>

                                        <div style="margin-left: 10px;" v-show="author.isComm">
                                            <input class="form-control" type="number" style="width: 60px; text-align:center" maxlength="2" v-model="author.commOrder" min="1">
                                        </div>


                                    </div>
                                    <div class="row">
                                        <button type="submit" class="btn btn-general btn-blue mr-2 col-md-2">保存</button>
                                    </div>

                                </div>

                            </div>

                        </form>
                    </div>
                {% endverbatim %}

                </div>
            </div>
        </div>
    </div>

    <!--Global Javascript -->
    <script src="{% static 'polls/js/jquery.min.js' %}"></script>
    <script src="{% static 'polls/js/popper/popper.min.js' %}"></script>
    <script src="{% static 'polls/js/tether.min.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'polls/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'polls/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'polls/js/chart.min.js' %}"></script>
    <script src="{% static 'polls/js/front.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        {% autoescape off %}
        var authors = {{ authors }}
        {% endautoescape %}
    </script>
    <script src="{% static 'polls/js/add-step2.js' %}"></script>

    <!--Core Javascript -->
    <script>
        $(function(){
        $('#leftmenu').children().eq(1).css('background-color','rgb(211, 229, 236)')
    });
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               }
            }
        });
    </script>
</body>

</html>
