{% load static %}
<!-- 用于论文的信息录入 -->
<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>成果管理系统 </title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'polls/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/font-icon-style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.default.css' %}" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="{% static 'polls/css/form.css' %}">
</head>

<body>

<!--====================================================
                     MAIN NAVBAR
======================================================-->
{% if not request.session.uall %}
{% include 'login/base-uall.html' %}
{% else %}
{% include 'login/base.html' %}
{% endif %}

<!--====================================================
                    PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        {% if not request.session.uall %}
        {% include 'login/base1-uall.html' %}
        {% else %}
        {% include 'login/base1.html' %}
        {% endif %}

        <div class="content-inner form-cont">
            <div class="row">
                <div class="col-md-12">

                    <!--***** FORM INPUTS *****-->
                    <div class="card form" id="form2">
                        <div class="card-header">
                            <h3 class="offset-md-3">录入论文信息</h3>
                        </div>
                        <br>
                        <form action="{% url 'polls:add_step1' %}" method="post" @submit="beforeSubmit">
                            <div class="row">
                                <div class="col-md-8 offset-md-3">
                                    <div class="form-group row">
                                        <label for="example-text-input" style="width: 85px;  " class="col-form-label">论文名称</label>
                                        <div class="col-md-9">
                                            {{ form.pname }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleSelect1" style="width: 85px;  " class="col-form-label">论文类型</label>
                                        <div class="col-md-9">
                                            {{ form.ptype }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <span style="width: 85px;">已出版</span>
                                        <div style="margin-left: 35px; margin-right: 15px;">
                                            <input class="form-check-input" type="radio" v-model="showInfo" v-bind:value="true" name="pifpub">是</input>

                                        </div>
                                        <div style="margin-left: 35px; margin-right: 15px;">
                                            <input class="form-check-input" type="radio" v-model="showInfo" v-bind:value="false" name="pifpub">否</input>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-show="showInfo">
                                        <label for="input-location" style="width: 85px;  " class=" col-form-label">出版地</label>
                                        <div class="col-md-9">
                                            {{ form.pplace }}
                                            <div class="invalid-feedback" v-show="pplaceError" style="display: block">该字段不能为空</div>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-show="showInfo">
                                        <label for="input-author" style="width: 85px;  " class=" col-form-label">出版者</label>
                                        <div class="col-md-9">
                                            {{ form.ppub }}
                                            <div class="invalid-feedback" v-show="ppubError" style="display: block">该字段不能为空</div>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-show="showInfo">
                                        <label for="input-year" style="width: 85px;  " class=" col-form-label">出版年</label>
                                        <div class="col-md-9">
                                            {{ form.pyear }}
                                            <div class="invalid-feedback" v-show="pyearError" style="display: block">该字段不能为空</div>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-show="showInfo">
                                        <label for="page-number" style="width: 85px;  " class=" col-form-label">页码</label>
                                        <div class="col-md-9">
                                            {{ form.ppage }}
                                            <div class="invalid-feedback" v-show="ppageError" style="display: block">该字段不能为空</div>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-show="showInfo && showPath">
                                        <label for="page-number" style="width: 85px;  " class=" col-form-label">访问路径</label>
                                        <div class="col-md-9">
                                            {{ form.ppath }}
                                            <div class="invalid-feedback" v-show="ppathError" style="display: block">改字段不能为空</div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-general btn-blue mr-2 offset-md-3 col-md-1">下一步</button>
                            {% csrf_token %}
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!--Global Javascript -->
    <script src="{% static 'polls/js/jquery.min.js' %}"></script>
    <script src="{% static 'polls/js/popper/popper.min.js' %}"></script>
    <script src="{% static 'polls/js/tether.min.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'polls/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'polls/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'polls/js/chart.min.js' %}"></script>
    <script src="{% static 'polls/js/front.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script>

        var pifpub = "{{ form.pifpub.value }}"
        var pplace = "{{ form.pplace.value }}"
        var ppub = "{{ form.ppub.value }}"
        var pyear = "{{ form.pyear.value }}"
        var ppage = "{{ form.ppage.value }}"
        var ppath = "{{ form.ppath.value }}"

    </script>
    <script src="{% static 'polls/js/add-step1.js' %}"></script>

    <!--Core Javascript -->
    <script>
        $(function(){
        $('#leftmenu').children().eq(1).css('background-color','rgb(211, 229, 236)')
    });
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               }
            }
        });
    </script>
</body>

</html>
