/*
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
*/ 
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  
.cl-blue{
    color: #2196f3;
}
 .overlay {
     position: absolute;
     width: 100%;
     height: 100vh;
     z-index: 0;
    background: rgba(0, 0, 0, 0.66); 
    background: linear-gradient(to bottom, rgba(123, 67, 151, 0.35), rgba(33, 150, 243, 0.55));

 }

.hero-area {
    background-image: url("../../img/pexels-photo-442574.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
 .hero-area {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .contact-h-cont {
    margin:0 auto;
    padding:30px;
    background: #fff;
    border-bottom: 4px solid #2196f3;
 }

.checkbox-style{
	appearance: none;
  -webkit-appearance: none;
	width: 14px;
	height: 14px;
	background: #FFFFFF;
	border-width: 1px;
	border-color: #555555;
}
.show_mess{
	color: #007EE5;
	font-weight: bold;
}


ul.list{
	position: absolute;
	z-index: 100;
    list-style:none;
    padding:0px;
    margin:0px;
    overflow:hidden;
}
ul.list li{
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #FFFFFF;
	font-size:medium;
	padding:5px;
    width:100%;
    margin:0px;
    text-overflow:ellipsis;  //溢出时变为省略
    overflow:hidden;
}
.lilight{
    background-color:#CCCCCC;
}
